@page
@using nps.Models.SurveyQuestions
@model nps.Pages.Survey.Display

@{
    ViewData["Title"] = $"Survey for order {Model.OrderId}";
    int counter = 0;
}

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")" asp-append-version="true"/>
    <link rel="stylesheet" href="@Url.Content("~/css/form-styles.css")" asp-append-version="true"/>
    <link rel="stylesheet" href="@Url.Content("~/css/quiz-styles.css")" asp-append-version="true"/>
    <script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
</head>


@using (Html.BeginForm(FormMethod.Post, new { @class = "quiz-form" }))
{
    <h1 class="quiz-title">@Model.SurveyToDisplay.Name</h1>
    
    foreach (var question in Model.SurveyToDisplay.Questions)
    {
        if (question  is RatingQuestion ratingQuestion)
        {
            <div>
                <p class="quiz-question">@ratingQuestion.QuestionText</p>
                <div class="quiz-rating-buttons">
                    @for (int i = 0; i < ratingQuestion.MaxValue; i++)
                    {
                        <button type='button' class='rating-btn' data-value=@(i + 1) onclick="selectNPS(@(i + 1), @($"selectedNps{question.Id}")">@(i + 1)</button>
                    }
                </div>
            </div>
        }
    }
}