@page
@model nps.Pages.OrderPage.Index

@{
    ViewData["Title"] = "Order Page";
}

<head>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
    <title>@ViewData["Title"]</title>
</head>

<h1 class="text-center">Orders of @Model.UserInfo.Email</h1>

<div id="loading" class="loading-container">
    <div class="spinner"></div>
    <p style="font-weight: 600;">Loading orders...</p>
</div>

<body onload="hideLoading()">
<section class="content-section">
    <div class="container-fluid text-center" id="orderTable" style="display: none;">
        <table class="custom-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Order Date</th>
                <th>Delivery Date</th>
                <th>Attached Survey</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var order in Model.UserInfo.Orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Number</td>
                    <td>@order.OrderDate</td>
                    <td>@order.DeliveryDate</td>
                    <td><a asp-page="/Survey/Display" asp-route-orderId="@order.Id" class="login-btn" style="text-decoration: none">View attached survey.</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>
</body>

@section Scripts {
    <script>
    function hideLoading() {
        setTimeout(() => {
            document.getElementById("loading").style.display = "none";
            document.getElementById("orderTable").style.display = "block";
        }, 500);
    }
</script>
}