<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="@Url.Content("css/style.css")">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/nps.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/form-styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				@* <a class="navbar-brand" asp-area="" asp-page="/Index">nps</a> *@
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item me-3">
							<a class="nav-link text-dark @(CheckActivePage("/Index"))"
							   asp-area="" asp-page="/Index">Main page</a>
						</li>
						<li class="nav-item me-3">
							<a class="nav-link text-dark @(CheckActivePage("/OrderPage/Index"))"
							   asp-area="" asp-page="/OrderPage/Index">Orders</a>
						</li>
						<li class="nav-item me-3">
							<a class="nav-link text-dark @(CheckActivePage("/UserFunctions/UserAddition"))"
							   asp-area="" asp-page="/UserFunctions/UserAddition">Employee registration</a>
						</li>
					</ul>
					@*<a asp-page="/Login/Index" class="btn btn-outline-success me-2" style="font-weight: 700;">Login</a>*@
					@*<a asp-page="/Index" class="btn btn-outline-danger me-2" style="font-weight: 700;">Logout</a>*@
					
					<div class="dropdown" style="position: relative !important; left: -80px;">
						<button onclick="toggleDropDown()">
							<img src="account.svg" alt="account" class="account-icon">
							<span class="arrow"><img src="arrow-sm-down.svg" alt="" style="width: 30px; height: 30px"></span>
						</button>
						<div class="dropdown-content" id="dropdownMenu">
							<a asp-page="/Login/Index">Login</a>
							<a asp-page="/Index">Logout</a>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
            @RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted" style="color: #ffffff !important; padding: 2px">
		<div class="container">
			&copy; @DateTime.Now.Year - MDDG
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
	
	@{
		string CheckActivePage(string routeName)
		{
			return ViewContext.RouteData.Values["Page"]?.ToString() == routeName ? "active" : "";
		}
	}
</body>
</html>