<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/css/form-styles.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/css/vertical-layout.css")" asp-append-version="true">
    <link rel="stylesheet" href="@Url.Content("~/css/survey-create.css")" asp-append-version="true">
    <link rel="stylesheet" href="@Url.Content("~/css/quiz-styles.css")" asp-append-version="true">
</head>
<body onclick="shrinkNavBar('navbar')">
<div class="d-flex" style="min-height: 100vh; min-width: 200vh; overflow-x: hidden">
<div class="vertical-nav" id="navbar" onclick="stopClickPropagation()">
    <button class="burger-btn" onclick="toggleNavBar('navbar')">
        <img src="@Url.Content("~/burger-simple.svg")" alt="Menu" style="width: 30px; height: 30px;">
    </button>
    <a asp-page="/Dashboard/Orders" class="vertical-nav-item @CheckActivePage("/Dashboard/Orders")" style="color: var(--white-variant)">
        <span class="nav-icon"><img src="@Url.Content("~/list-check.svg")" class="menu-img" alt="Orders"></span>
        <span class="nav-text">Orders</span>
    </a>
    <a asp-page="/Dashboard/CreateSurvey" class="vertical-nav-item @CheckActivePage("/Dashboard/CreateSurvey")" style="color: var(--white-variant)">
        <span class="nav-icon"><img src="@Url.Content("~/add-circle.svg")" alt="create" class="menu-img"></span>
        <span class="nav-text">Create Survey</span>
    </a>
    <a asp-page="/Index" class="vertical-nav-item" style="color: var(--white-variant); position: relative;">
        <span class="nav-icon"><img src="@Url.Content("~/exit.svg")" class="menu-img" alt="Exit"></span>
        <span class="nav-text">Exit</span>
    </a>
</div>

    <div class="d-flex flex-row flex-grow-1 w-300 px-4 py-3" style="overflow-x: auto;">
        <main role="main" class="flex-grow-1">
            @RenderBody()
        </main>
    </div>




<script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
<script src="@Url.Content("~/js/survey_create.js")" asp-append-version="true"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)

@functions {

    string CheckActivePage(string routeName)
    {
        return ViewContext.RouteData.Values["Page"]?.ToString() == routeName ? "active" : "";
    }
}
</body>
</html>
