@page
@model nps.Pages.Nps.NpsShortQuiz

@{
    ViewData["Title"] = "Nps Short Quiz";
}

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")" asp-append-version="true" type="text/css"/>
    <script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
</head>

<body>
<section class="form-section">
    @using (Html.BeginForm(FormMethod.Post, new { @class = "short-form" }))
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary(false, "", new {@class ="text-danger text-center"})
        <div class="nps-smiley-buttons">
            <button type="button" class="smiley-btn" onclick="selectNPS(1)" data-value="1">
                <img src="@Url.Content("~/sad-smiley.svg")" alt="sad" class="smiley-img-bad"/>
            </button>
            <button type="button" class="smiley-btn" onclick="selectNPS(2)" data-value="2">
                <img src="@Url.Content("~/neutral-smiley.svg")" alt="neutral" class="smiley-img-neut"/>
            </button>
            <button type="button" class="smiley-btn" onclick="selectNPS(3)" data-value="3">
                <img src="@Url.Content("~/positive-smiley.svg")" alt="positive" class="smiley-img-pos"/>
            </button>
        </div>
        <p></p>
        @Html.HiddenFor(m => m.Result.Value, new { id = "selectedNPS" })
        @Html.LabelFor(m => m.Result.Body, "Any questions?", new{@class = "nps-question", id="feedback"})
        @Html.TextAreaFor(m => m.Result.Body, new{placeholder = "Tell us more...", id ="feedback"})
        <button type="submit" class="nps-submit">Submit</button>
    }
</section>
</body>

